

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #223240;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #3B8C66;
    --cor-roover: #60BF81;
}



*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    
}
.cabecalho__menu__link{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}



.t-destaque {
    color: var(--cor-tercearia);
}

.apresentacao{
    padding: 5%  15%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 82px;
}
.apresentacao__conteudo{
    min-width: 50%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 40px
    
    
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;;   
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links__subtitulos{
    font-family: 'krona-one', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}



.apresentacao__links{
    display: flex;
    justify-content: space-between;
    margin-right: 10% ;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 378;
    padding: 15.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #22D4FD;

}
.apresentacao__links__link:hover {
    background-color: var(--cor-roover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    background-color: var(--cor-tercearia);
    color: #223240;
    padding: 24px;
    text-align: center;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.5rem ;
    font-weight: 400;
}
@media(max-width: 900px) {
    .cabecalho{
        padding: 6%;
    }
    .cabecalho__menu{
        justify-content: center;
    }


    .apresentacao{
        flex-direction: column-reverse; 
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__imagem{
        width: 50%;
    }
    .apresentacao__links__link{
        width: auto;
        justify-content: center;
        padding: 3% 5%;
    }
    
}


.form{
    width: 512px;
    display: flex;
    flex-direction: column;
    color: #F6F6F6;
}
.form h2{
    color: #F6F6F6;
    font-size: 32px;
    margin-bottom: 16px;

}
.form label{
    color: #F6F6F6;
    font-size: 20px;
    margin-bottom: 8px;
}
.form input, textarea{
    background-color: transparent;
    border: 2px solid #F6F6F6 ;
    border-radius: 10px;
    padding: 0  12px 0 12px;
    margin-bottom: 24px ;
    color: white;
}
.form input{
    height: 40px;
}
.form button{
    height: 30px;
    background-color: #3B8C66;
    color: black;
    border: none;
    border-radius: 10px;
}
.form input:focus, textarea:focus{
    outline: 2px solid white;
}